*{
    margin:0px;
    padding:0px
}
.left{
    width:50vw;
    height:100vh;
    /*border:1px solid blue;*/
    float:left;
    box-sizing: border-box;
}
.right{
    width: 48.7vw;
    height:100vh;
    /*border:1px solid blue;*/
    float:right;
    box-sizing: border-box;
}
.left .images #img1{
    width:15vw;
    height:50vh;
    position:fixed;
    top:20vh;
    left:30vw;
    border-radius:18px;
    z-index:2;
}
.left .images #img2{
    width:13vw;
    height:25vh;
    position:fixed;
    top:30vh;
    left:18vw;
    z-index:1;
    border-radius:10px;
}
.left .images #img3{
    width:10vw;
    height:30vh;
    position:fixed;
    top:50vh;
    left:22vw;
    z-index:3;
    border-radius:10px;
}
.left .images #img4{
    width:12vw;
    height:15vh;
    position:fixed;
    top:68vh;
    left:30vw;
    border-radius:50%;
    z-index:4;
}